body {
    background-color: rgb(206, 229, 208);
}

.hcolorz {
    background-color: rgb(243, 240, 215);
    height: 60px;
    width: auto;
}

h1 {
    font-family: 'IM Fell DW Pica SC', serif;
    font-variant: small-caps;
    font-size: 50px;
}

p {
    font-family: 'Dosis', sans-serif;
    text-align: center;
    font-size: 25px;
}

.fcolorz {
    background-color: rgb(255, 120, 120);
    color: white;
    font-family: 'Dosis', sans-serif;
    text-align: center;
}

img {
    border-radius: 8px;
    max-width: 50%;
    height: 340px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.colorz {
    height: 500px;
    width: auto;
}

.btn {
    font-family: 'Dosis', sans-serif;
    background-color: rgb(224, 192, 151);
    letter-spacing: .3vw;
    font-size: 1.5vw;
    font-weight: bold;
    padding: 1.5vw;
    cursor: pointer;
    width: 100%;
    height: auto;
}