h1 {
    text-transform: uppercase; /* Capitalizing all h1 headings */
    font-family: 'Amatic SC', cursive; /* Sets the font family of all h1 headings */
    text-align: left; /* Centering all h1 elements */
    margin-top: 3%; /* Adds a small margin above h1 elements */
    color: darkslateblue; 
}